/* PICK A GOOGLE FONT TO GO HERE */
/* * {
    background-color: orange;
} */
/* HEADER */
header h1 {
    color: whitesmoke;
    background-color: green;
    padding: 1rem;
    margin: 0;
}

body {
    background-color: bisque;
}

button {
    background-color: bisque;
    border: none;
}

/* HEADER */
/* banner is having issues staying static on page and overlapping nav tabs */
.banner {
    background-image: url('/images/beignet.png');
    background-size: 25px;
    position: absolute;
    height: 4%;
    width: 100%;
    background-repeat: repeat-x;
}

/* NAV BAR */

nav {
    background-color: purple;
}

nav a {
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: bold;
}

nav a:hover {
    /* background: #06D85F; */
    color: #06D85F;
}

/* Company Info Popup */
.button:hover {
    /* background: #06D85F; */
    color: #06D85F;
}

button:hover {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    margin: 10px;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close {
    background-color: white;
}

.popup .close:hover {
    color: #06D85F;
}

/* BAKERY OWNER */
.newspaper {
    width: 25%;
    height: 25%;
}

.apply {
    background-color: gold;
}

#applied {
    font-size: 16pt;
}

.apply div label {
    font-size: 20pt;
}

#applyBtn {
    background-color: purple;
    border: #333;
    border-radius: .25rem;
    padding: .5rem;
    color: white;
    font-weight: bold;
}

#applyBtn:hover {
    background-color: #06D85F;
    cursor: pointer;
}

.appResult {
    background-color: green;
    color: white;
}

/* MAIN CLICKER */
.gameMessages {
    height: 300px;
    width: 300px;
    text-align: center;
}

.messageContent {
    font-size: 25pt;
}

.mainDonut {
    height: 300px;
    width: 300px;
}

.mardiGras {
    height: 300px;
    width: 300px;
}
/* .clickerBtn {
    animation: clickEffect 0s;
    animation-iteration-count: 0;
} */
@keyframes clickEffect {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* GAME VARIABLES */
#beveragePic {
    height: 200px;
    width: 200px;
}

.purchases {
    height: 200px;
    width: 200px;
}

/* SPECIAL */
/* hide buttons until they are enabled/make them visible then diable/hide them */
/* RESET GAME */
.resetGame {
    background-color: rgb(230, 51, 51);
}

.resetGame h4 {
    color: yellow;
    font-weight: bold;
    font-size: 12pt;
    font-style: italic;
}

.reset {
    background-color: whitesmoke;
    color: darkred;
    font-size: 12pt;
    font-weight: bold;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.reset:hover {
    background-color: yellow;
    color: red;
}

.boldReset {
    font-weight: bold;
    font-size: 20pt;
    color: yellow;
}

/* FOOTER */
footer {
    font-weight: bold;
    background-color: whitesmoke;
    color: darkcyan;
}